@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body, html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body {
  font-family: 'Racing Sans One', cursive;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.loader {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #bfbfbff0;
  z-index: 9999;
  background-image: url(../img/logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 140px;
  -webkit-backdrop-filter: saturate(180%) blur(26px);
  backdrop-filter: saturate(180%) blur(26px);
  background-color: hsl(253deg 36% 41%);
  background-color: rgb(35 7 116 / 72%);
  animation: opulse 0.6s infinite ease-in-out alternate;

}
.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}
.bounce2 {
  animation: bounce2 2s ease infinite;
}

.opulse {
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes opulse {
  from { background-size: 140px; }
  to { background-size: 160px; }
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-5px);}
}
.gelatine {
  animation: gelatine 0.5s ;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
.game-logo {
  text-align: center;
  padding-top: 10px;
}
.game-logo img {
  width: 100%;
  max-width: 150px;
  animation: pulse 1s infinite ease-in-out alternate;
}
.game-bar {
  position: fixed;
  width: 100%;
  top:0px;
  color: #fff;
  padding-top: 20px;

}
.game-bar h5 {
  font-size: 32px;
  text-shadow: 3px 3px 2px rgb(4 44 17);
}
.game-time {
  text-align: right;
  animation: gelatine 1s infinite;
}
.game-holder {
  width: 100%;
  height: 100vh;
  display: table;
}
.game-content {
  display: table-cell;
  vertical-align: middle;
}
.game-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  text-align: center;
  padding-bottom: 10px;
}
.game-footer-logo img {
  width: 100%;
  max-width: 400px;

}
.nav-justified {
    margin-bottom: 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #00dd7e;
}
.nav-justified>li>a {
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 10px;
}
.tab-content {
  padding: 40px;
  -webkit-backdrop-filter: saturate(180%) blur(26px);
  backdrop-filter: saturate(180%) blur(26px);
  background-color: hsl(0deg 0% 15% / 74%);
  background-color: rgb(38 38 38 / 47%);
  border-radius: 10px;
  color: #fff;
}

label {

    color: #01DC7D;
}
.form-control {
  /* UI Properties */
border: 2px solid #01DC7D;
border-radius: 10px;
background-color: transparent;
line-height: 50px;
height: 50px;
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 65px;
  margin-bottom: 40px;
  text-shadow: 3px 3px 2px rgb(4 44 17);
}
.game-view {
  display: none;
}
#game-1 {
  display: block;
}
.track-slot, .flag-slot {
  background-color: #fff;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
  border-radius: 10px;
  padding: 50px;
  height: 500px;
  transition: all .2s ease;
  text-align: center;
  vertical-align: middle;
  animation: bounce2 2s ease infinite;
  -webkit-backdrop-filter: saturate(180%) blur(26px);
  backdrop-filter: saturate(180%) blur(26px);
  background-color: hsl(253deg 36% 41%);
  background-color: rgb(35 7 116 / 72%);
}
.track-slot small, .flag-slot small {
  color: #eee;
  font-size: 130px;
}
.track-list, .flag-list {
  list-style: none;
}
.track-list li, .flag-list li {
  list-style: none;
  float: left;
  width: 50%;
}
.track-box, .flag-box {
  margin: 5px;
  background-color: #fff;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
  border-radius: 10px;
  padding: 10px;
  height: 160px;
  text-align: center;
}
.track-box img, .flag-box img {
  width: auto;
  height: 100%;
}
.flag-box img {
  border-radius: 10px;
  float: left;
  width: 100%;
}
.correct {
  scale: 2;
  box-shadow: none;
  transition: all .2s ease;
}
.car-holder {
  position: relative;
  width: 100%;
  float: left;
}
.car-holder img {
  width: 100%;
  float: left;
}
.part-slot {
  background-color: #fff;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 10px;
  animation: pulse 1s infinite ease-in-out alternate;
  border-style: solid;
  border-color: #eee;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
}
.part-slot-1 {
  top: 107px;
  left: 460px;
}
.part-slot-2 {
  top: 340px;
  left: 310px;
}
.part-slot-3 {
  top: 310px;
  left: 30px;
}
.part-list {
  list-style: none;
}
.part-list li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.part-box {
  margin: 5px;
  background-color: #fff;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
  border-radius: 10px;
  padding: 2px;
}
.part-box img {
  width: 100%;
  border-radius: 10px;
}
.correct-part {
  scale: 1.2;
  box-shadow: none;
  transition: all .2s ease;
}

.driver-holder {
  position: relative;
  width: 100%;
  float: left;
}
.driver-holder img {
  width: 100%;
  float: left;
  border-radius: 10px;
}
.suit-list {
  list-style: none;
}
.suit-list li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 25%;
    text-align: center;
}
.suit-box {
  background-color: #fff;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
  border-radius: 10px;
  padding: 2px;
  width: 100px;
}
.suit-box img {
  width: 100%;
  border-radius: 10px;
}
.suit-slot {
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  animation: pulse 1s infinite ease-in-out alternate;
  background-color: #eee;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
}
.suit-slot-1 {
    top: 20px;
    left: 110px;
}
.suit-slot-2 {
    top: 120px;
    left: 110px;
}
.suit-slot-3 {
    top: 240px;
    left: 110px;
}
.suit-slot-4 {
    top: 400px;
    left: 110px;
}
.suit-list {
  list-style: none;
}
.correct-suit {
  scale: 1.2;
  box-shadow: none;
  transition: all .2s ease;
}
.hovered {
  transition: all .2s ease;
  z-index: 999;
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
  transform: scale(1.2, 1.2);
}
.ui-draggable-dragging {
  background-color: #fff;
  transform: scale(1.2, 1.2);
  box-shadow: 4px 4px 15px 0 hsl(0deg 0% 59% / 19%);
}
.ui-droppable-disabled {
  border: rgb(255, 255, 255);
}
@media (max-width: 600px) {
  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .game-bar {
    padding-top: 0px;
  }
  .game-bar h5 {
    font-size: 16px;
  }
  .game-footer-logo img {
    max-width: 150px;
  }
  .track-slot, .flag-slot {
    height: 230px;
  }
  .track-slot small, .flag-slot small {
    color: #eee;
    font-size: 50px;
  }
  .track-list, .flag-list {
    list-style: none;
    padding: 0px;
  }
  .track-list li, .flag-list li {
    width: 33.33333%;
  }
  .track-box, .flag-box {
    height: auto;
    float: left;
  }
  .track-box img, .flag-box img {
    width: 100%;
    height: auto;
  }
  .part-list li {
    width: 33.33333%;
    float: left;
  }
  .part-box {
    width: 50px;
    height: 50px;
  }
  .part-slot {
      width: 50px;
      height: 50px;
  }
  .part-slot-1 {
    top: 37px;
    left: 150px;
  }
  .part-slot-2 {
    top: 63%;
    left: 30%;
  }
  .part-slot-3 {
    top: 60%;
    left: 0px;
  }
  .driver-holder {
    text-align: center;
  }
  .driver-holder img {
    width: 270px;
    float: none;
    border-radius: 10px;
  }
  .suit-list {
    list-style: none;
    padding: 0px;
  }
  .suit-list li {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .suit-slot {
    width: 90px;
    height: 90px
  }
  .suit-box {
    width: auto;
    margin: 5px;
  }
  .suit-slot-1 {
    top: 10px;
    left: 33%;
  }
  .suit-slot-2 {
    top: 100px;
    left: 33%;
  }
  .suit-slot-3 {
    top: 180px;
    left: 33%;
  }
  .suit-slot-4 {
    top: 300px;
    left: 33%;
  }
  .correct-suit {
    scale: 1.2;
    box-shadow: none;
    transition: all .2s ease;
  }
}
